body footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  padding: 20px 0 20px 0;
  border-top: 1px solid #eaeaea;
  background-color: white;
}

.footer-block {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer-icons {
  font-size: 15px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 15px 0 15px;
  cursor: pointer;
}

.footer-icons__img {
  width: 40px;
}

.footer-icons__desc {
  margin-top: 5px;
}
